<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionappnrs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f33373bf-4282-4926-a9a4-fcc8c3c6ff62/resourceGroups/ODL-serverless-architecture-80032/providers/Microsoft.Web/sites/TollBoothFunctionAppnrs</ResourceId>
    <UserName>$TollBoothFunctionAppnrs</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctionappnrs.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>